
*.pdf
*.pdf
*.npy
*.pdf
*.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d04/final-ep-actions.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d04/final-policy.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/final-ep-actions.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/final-ep-rewards.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/final-epsiode.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/final-policy.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/final-traj-periodic.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/learning-gain.pdf
Figures/Φ_0d1_Ψ_0d1_alpha_0d08/total-reward.pdf
Figures/Φ_0d3_Ψ_1d0_alpha_0d04/final-ep-actions.pdf
Figures/Φ_0d3_Ψ_1d0_alpha_0d04/final-ep-rewards.pdf
Figures/Φ_0d3_Ψ_1d0_alpha_0d04/final-policy.pdf
Figures/Φ_0d3_Ψ_1d0_alpha_0d04/final-traj-periodic.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/final-ep-actions.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/final-ep-rewards.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/final-epsiode.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/final-policy.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/final-traj-periodic.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/learning-gain.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/q-conv.pdf
Figures/Φ_3d0_Ψ_3d0_alpha_0d18/total-reward.pdf
